<!-- container -->
<div class="main-container">

  <!-- row div -->
  <div class="info-row">
  <!-- col div -->
  <div class="banner">
    <h1 class="banner-heading">Welcome to xyz.</h1>
    <p class="description">We are leading company in this industry</p>
    <p>
      <button class="more-info">know more..</button>
    </p>
  </div>

  <!-- row div -->

  <div class="comp-card">
    <h2>What we do</h2>
        <p class="description"> fuga blanditiis, quia porro voluptates mollitia tempore aut id quibusdam sint!</p>
        <p>
          <button class="know-more">know more..</button>
        </p>
      </div>
<!-- col div -->
  <div class="comp-card">
    <h2>Who we are</h2>
        <p class="description"> fuga blanditiis, quia porro voluptates mollitia tempore aut id quibusdam sint!</p>
        <p>
          <button class="know-more">know more..</button>
        </p>
      </div>

  <!-- col div -->
  <div class="comp-card">
    <h2>How we do</h2>
        <p class="description"> fuga blanditiis, quia porro voluptates mollitia tempore aut id quibusdam sint!</p>
  
  <p>
    <button class="know-more">know more..</button>
  </p>

</div>


 
  </div>
</div>
